body{
    background-color: tan;
    text-align: center;
}
button{
    margin-bottom: 5px;
}
#playArea{
    display:grid;
    grid-template-columns: 1fr 600px 1fr;
}
#playerScore{
    min-width: 100px;
}
#cpuScore{
    min-width: 100px;
}
#cpuTurnStatus{
    color: white
}
#playerTurnStatus{
    color: white
}

#gameBoard{
    display: grid;
    grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px;
    background-color: green;
    margin: auto;
    width: 600px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.column1{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
.column1:hover{
    background-color: red;
    transition: 1s;
}

.column2{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
.column2:hover{
    background-color: red;
    transition: 1s;
}

.column3{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
.column3:hover{
    background-color: red;
    transition: 1s;
}

.column4{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
.column4:hover{
    background-color: red;
    transition: 1s;
}

.column5{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
.column5:hover{
    background-color: red;
    transition: 1s;
}

.column6{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
.column6:hover{
    background-color: red;
    transition: 1s;
}

.column7{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
.column7:hover{
    background-color: red;
    transition: 1s;
}

.column8{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
.column8:hover{
    background-color: red;
    transition: 1s;
}

.piece{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: block;
    margin: auto;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}